[client]
port    = 3306
socket  = /tmp/mysql.sock

[mysqld]
###### General ######
port               = 3306
socket             = /tmp/mysql.sock
basedir            = /usr/local/mariadb
datadir            = /u01/mariadb
tmpdir             = /tmp

character-set-server   = utf8
collation-server       = utf8_general_ci
init_connect           = "set collation_connection=utf8_general_ci"
init_connect           = "set names utf8"
default-storage-engine = INNODB


###### Other ######
#performance_schema     = 1
max_connections         = 1000
max_connect_errors      = 99999
max_allowed_packet      = 1024M
wait_timeout            = 3600
interactive-timeout     = 3600
query_cache_size        = 0
query_cache_limit       = 0
query_cache_type        = 0
transaction_isolation   = REPEATABLE-READ
log_bin_trust_function_creators = 1
skip-name-resolve
skip-host-cache


###### Session Memory ######
sort_buffer_size        = 1M
join_buffer_size        = 1M
read_buffer_size        = 1M
read_rnd_buffer_size    = 1M
max_heap_table_size     = 32M
tmp_table_size          = 32M

###### MyISAM Engine ######
#key_buffer_size        = 32M
#myisam-recover-options = backup,force

###### Aria Engine ######
aria_pagecache_buffer_size  = 128M 

###### InnoDB Engine ######
innodb_file_format          = Barracuda
innodb_file_format_max      = Barracuda
innodb_file_per_table       = 1
innodb_data_file_path       = ibdata1:100M:autoextend
innodb_data_home_dir        = /u01/mariadb
innodb_write_io_threads     = 4
innodb_read_io_threads      = 4
innodb_io_capacity          = 200
innodb_thread_concurrency   = 0
innodb_max_dirty_pages_pct  = 90
innodb_stats_on_metadata    = 0
innodb_lock_wait_timeout    = 50
innodb_buffer_pool_size     = 256M
innodb_log_buffer_size      = 32M
innodb_log_file_size        = 128M
innodb_log_files_in_group   = 3
innodb_open_files           = 4096
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method         = O_DIRECT
innodb_print_all_deadlocks  = 1
innodb_doublewrite          = 1

###### MariaDB ThreadPool ######
#thread_pool_size           = 16
#thread_handling            = pool-of-threads
#thread_pool_max_threads    = 1000

###### Logging ######
#general_log                = 1
#general_log_file           = /log/mysql_general.log
slow_query_log              = 1
slow_query_log_file         = /u01/mariadb/mysql_slow.log
long_query_time             = 1
log-error                   = /u01/mariadb/mysql_error.log
expire_logs_days            = 7
#min_examined_row_limit     = 0

###### Replication ######
server_id                   = 1
log-bin                     = /u01/mariadb/mysql-bin.log
binlog_format               = MIXED
#relay_log                  = /log/mysql-relay.log
#sync_binlog                = 1
#replicate_do_table         = t1.test
#replicate_do_db            = t1
#repl_semi_sync_master_enabled  = 1
#log_slave_updates          = 1
#read_only                  = 1
#skip-slave-start

[mysqldump]
quick
max_allowed_packet          = 1024M
[mysqlhotcopy]
interactive-timeout         = 3600 
[mysqld_safe]
open_files_limit            = 8192

